auth_enabled: false

ingester:
  chunk_idle_period: 3m
  max_chunk_age: 1h
  max_streams_limit_per_user: 100000

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

storage_config:
  filesystem:
    directory: /loki/chunks
  index_cache_validity: 5m

querier:
  max_concurrent: 20
  engine: ruler

ruler:
  enable_api: true
  rule_path: /loki/rules
  alertmanager_url: http://alertmanager:9093
  external_label_source: only_logs
  rule_storage:
    type: local
    local:
      directory: /loki/rules

tracing:
  enabled: false
