global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files:
  - "alerts.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'vigilum-backend'
    static_configs:
      - targets: ['localhost:8000']
    scrape_interval: 5s
    metrics_path: '/metrics'

  - job_name: 'temporal'
    static_configs:
      - targets: ['localhost:7233']

  - job_name: 'jaeger'
    static_configs:
      - targets: ['localhost:14269']
